[2019-08-01 20:03] scarybeasts commented on #152
I will try and fix it.

[2019-08-02 14:17] #199 closed

[2019-08-02 14:18] #198 closed

[2019-08-03 05:45] scarybeasts commented on #130
Here is what is going on with Uridium.

This applies to the STH version and the bbcmicro.co.uk version. The latter makes a better attempt to avoid the problem, but still does not avoid the problem.

The crux is that execution of the game loader arrives at &6F00, with _IRQs enabled_. It proceeds to set up and execute a copy from &1100 to &200. Furthermore, the ensuing write to IRQV points to &200.

[2019-08-03 05:45] scarybeasts commented on #130
@richard-broadhurst let @mattgodbolt and I know if this is a satisfactory explanation and fixed version of Uridium, would be great to close this.

[2019-08-03 09:29] scarybeasts commented on #130
Ah, ignore my fixed version, there's already a decent working version here: https://stardot.org.uk/forums/viewtopic.php?f=51&t=13967&p=184720#p184671

[2019-08-03 09:43] richtw1 commented on #130
Does the tape version (from STH, directly accessible from bbc.godbolt.org) contain this code as well? The tape images are completely unmodified and should serve as our best guide to the original versions. If this is working ok, I would heavily suspect that the disk image is a clumsy hack job from someone else.

[2019-08-04 07:17] scarybeasts commented on #130
@richtw1 The tape version appears to have a version of the loop at &4ABE, which is writing to &0200 but correctly runs with interrupts disabled. Interestingly, the tape version is pulling the source bytes from (I think...) the tape serial registers directly. So yeah it would need to be a hack job if the disc ssd's are based on the tape version.

Bill Carr's version linked above was transferred to

[2019-08-05 23:30] scarybeasts commented on #165
Looking -- the bbcmicro.co.uk admins were asking me about slow load times.

To briefly quantify, the Enjoy The Silence disk is a great example. How many large seeks prior to title screen?
- Currently hosted jsbeeb: 7
- My hacked up / fixed(?) build: 1

[2019-08-06 00:15] scarybeasts commented on #165
Root cause here is a workaround for Elite-A leading to unusual controller behavior. This is partly conjecture, but it looks like returning "drive not ready" all the time causes DFS to assume the disc could have been changed and toss its directory entry cache or something like that?

The Elite-A issue is interesting. It looks like it could rely on some form of invalidation occurring in order to fix

[2019-08-06 08:26] scarybeasts commented on #179
Tests from my tests.ssd that still differ from a real beeb:

VIA.AC3
VIA.AC6
VIA.I1
VIA.I2
VIA.T21
VIA.T23

[2019-08-06 08:47] scarybeasts commented on #179
[tests.ssd.zip](https://github.com/mattgodbolt/jsbeeb/files/3471167/tests.ssd.zip)

Attaching tests.ssd.zip for posterity.

I'll see how many of these are worth fixing and try and crank through them.

[2019-08-06 11:52] scarybeasts commented on #179
I fixed everything except VIA.T23, which doesn't seem important. It's tricky for code to really rely on T2 values after toggling ACR 0x20 because results will vary depending on what is attached and generating pulses from external.

[2019-08-06 20:59] #165 closed

[2019-08-06 21:02] #179 closed

[2019-08-06 21:05] mattgodbolt commented on #179
Thanks @scarybeasts ! I should work this into a test so we don't lose your fix too.

[2019-08-06 21:06] mattgodbolt opened #204 "Write VIA tests"
Automate @scarybeasts 's tests attached to #179 so we don't lose the good behaviour.

[2019-08-07 00:23] scarybeasts commented on #100
@richtw1 @mattgodbolt Seems to work fine for me -- both before and after my recent i8271 fixes. Maybe something else fixed this long ago? Can close?

[2019-08-07 01:50] scarybeasts commented on #141
@kieranhj @mattgodbolt Looks perfect to me in the latest version currently hosted on https://bbc.godbolt.org/

I did suck at those "spot the difference" things as a kid though.

Can we close?

[2019-08-07 02:51] scarybeasts commented on #143
Many Chrome versions later but Chrome 76 seems fine with latest https://bbc.godbolt.org/

@mattgodbolt How is it for you, can we close?

[2019-08-07 03:49] scarybeasts commented on #135
Ah, there seem to be two different games called Pharaoh's Curse? The attached file is the one we're talking about here and it's a version without the problem code hacked out, so it still fails in jsbeeb.

[PharaohsCurse.zip](https://github.com/mattgodbolt/jsbeeb/files/3475158/PharaohsCurse.zip)

I will fix.

[2019-08-07 07:10] scarybeasts commented on #130
@mattgodbolt Please close -- one of the bbcmicro.co.uk admins did a bit of checking and the non-buggy Uridium disc is fine in BBC B mode.

There's still the other bug regarding Uridium keyboard failure in master mode which I'm working on.

[2019-08-07 07:20] scarybeasts commented on #46
@mattgodbolt Can this be closed? Sounds like ROM URLs are implemented, and the question of different DFS options is tracked in the other referenced bug.

[2019-08-07 07:33] scarybeasts commented on #137
Let's use this bug to track adding a new model that has a DFS compatible with the known instances of images that are _not_ DFS-0.9 compatible.

We could just add a DFS 1.2 model of course. But I think it may be a better option to add an E00-DFS model as our first addition. Here is my reasoning:
- The images I know of that require DFS-1.2 (Puff, OddJob) also work fine with an E00 DFS.
- E00 DFS res

[2019-08-07 07:49] richtw1 commented on #137
Honestly I wouldn't add a non-standard DFS.  Any images which require an E00-DFS wouldn't have worked on real standard hardware at the time, and I don't see a big reason to support them under emulation (and presumably they work OK in Master mode?).

I'd be inclined just to change from DFS 0.9 to 1.2, now that the 8271 emulation is better.  Adjusting the emulator spec to work around bugs in old dis

[2019-08-07 07:53] scarybeasts commented on #137
Ok, I can lay the groundwork for trying DFS-1.2 by default.

[2019-08-07 12:29] mattgodbolt commented on #100
Yeah, this seems fixed by ...something... along the way. Thanks for rechecking! Closing: @richtw1 can reopen if he finds something still amiss.

[2019-08-07 12:29] #100 closed

[2019-08-07 12:32] mattgodbolt commented on #141
![Screenshot from 2019-08-07 07-31-39](https://user-images.githubusercontent.com/633973/62623050-7915bc80-b8e5-11e9-9c88-27a02122a956.png)

This is what the current image looks like. @kieranhj can you see any differences? Thanks!

[2019-08-07 12:33] mattgodbolt commented on #143
Oh cripes, this is ancient. Thanks for doing the spring cleaning of the bug list!

[2019-08-07 12:33] #143 closed

[2019-08-07 12:35] mattgodbolt commented on #135
Thanks @scarybeasts

[2019-08-07 12:38] #135 closed

[2019-08-07 12:39] #130 closed

[2019-08-07 12:40] mattgodbolt commented on #46
Yes I think so! @BigEd / @Pernod70 / @ahope1 feel free to reopen more specific bugs if you find them! Thanks all

[2019-08-07 12:40] #46 closed

[2019-08-07 16:39] #137 closed

[2019-08-07 20:19] scarybeasts commented on #141
One thing to note is that Kieran skillfully arranged the cursor to be at the very bottom in his screenshot. For an apples to apples test you may need to scroll the cursor down (enter enter enter.... etc.) to one line before the bottom and then type *LOAD RED

[2019-08-07 22:47] scarybeasts commented on #109
Oh very interesting. Latest deal is that text is displaying reliably but is wobbling up and down. b2 can display this steadily.
I wonder where that jitter is coming from in jsbeeb (b-em seems identical) -- I bet this one is very interesting, I will aim to take a look.

[2019-08-08 00:05] scarybeasts commented on #56
These days, "as fast as possible" is about 3x on my rubbish old laptop.

Rather than lowering emulation accuracy in fasttape mode, I might look to see if there are any generic speedups available in either the CPU or video code.

[2019-08-08 00:05] mattgodbolt commented on #56
That's great: thanks @scarybeasts !

[2019-08-08 07:08] ribbons commented on #109
Funnily enough I was going to flag this up to you yesterday @scarybeasts (but forgot) as I thought you might find it interesting - I think the text displaying at all is due to your recent timing fixes 🙂.

[2019-08-08 07:54] scarybeasts commented on #135
Follow on PR https://github.com/mattgodbolt/jsbeeb/pull/209 sent to do the light pen handling without incurring cost in the main polltime() loop.

[2019-08-08 15:07] lurkio commented on #186
Here's the JS console output in the Safari browser on macOS 10.14.6 Mojave:

[2019-08-10 21:42] scarybeasts commented on #109
@mattgodbolt @richtw1 I think I have a simple fix for the immediate issue. One of these things where it's tricky to diagnose but not too tricky to fix. I'll paste my notes on the full story shortly.

On a more general question, who should I ask for questions on the CRTC code? I'm curious why this.handleHsync() does horizontal flyback half-way through the hsync pulse. Other emulators tend to do it

[2019-08-10 22:31] richtw1 commented on #109
I can assist with crtc stuff! The flyback in the middle of the pulse is the
hack that lets the R3 trick work. No one really understands why or if it
makes sense to model it like that - one possible explanation is that the
CRT reacts to either the start or end of the pulse, but also has its own
natural frequency which it wants to oscillate at, and the result of the
fight is that the phase ends up g

[2019-08-11 09:07] #152 closed

[2019-08-11 11:06] scarybeasts commented on #109
Thanks @richtw1

In terms of the issue tracked by this bug, here is what is going on. The interrupt handling setup is kind of imprecise and as a consequence, racy.

- The vsync IRQ triggers with some timing jitter, because of the normal 2 - 7 cycle 6502 instruction variation, and also because the program is spinning inside MOS (OSRDCH?) which has a little SEI block as part of the loop.
- vsync IRQ

[2019-08-11 16:39] ribbons commented on #109
Thanks for your hard work on this one @scarybeasts - just tried it on a checked-out copy of your PR and the jitter is no-more :+1. Don't think I'd have figured that out in a month of Sundays!

According to the details in the issue (https://8bs.nerdoftheherd.com/8BS12/content/2-devlife/) the game was created with 'INCENTIVES Graphical Adventure Creator'.  I wonder if all of the adventures created w

[2019-08-12 01:20] #8 closed

[2019-08-12 01:22] #56 closed

[2019-08-12 03:26] scarybeasts commented on #141
I'm going to go out on a limb and close this as fixed.
This bug was filed Jan 2017 and there's a commit from Tom Seddon in Nov 2017 entitled "Fix hold mosaics processing.": https://github.com/mattgodbolt/jsbeeb/commit/e309fceaa058a0c7e41e0250494d22f75921eefe#diff-fe97883998e9c7af7d6c87d2948ba529

I reverted that change on a local branch and it breaks the parrot a little bit: the black boxes in the

[2019-08-12 03:26] #141 closed

[2019-08-12 06:01] scarybeasts commented on #169
@mattgodbolt @kieranhj I'm interested in taking a swing at this.

To confirm, is the attached screenshot representative of the glitch? I ran bs-twisted.ssd on latest jsbeeb, selected option "REAL HARDWARE", and see a clear incorrect scanline in some of the later effects.
![twisted](https://user-images.githubusercontent.com/26288899/62847591-f6e21b00-bc8b-11e9-9ec2-664a76afc1e1.png)

[2019-08-12 06:03] scarybeasts commented on #169
Also -- does anyone have an SSD file for the minimized test case?

[2019-08-12 06:40] scarybeasts commented on #166
Tentatively marking as closed / fixed. Please do feel free to reopen if you disagree.

Doesn't reproduce in latest https://bbc.godbolt.org.

I think what may have happened here is that my recent i8271 fixes fixed disc spinup. Previously, the seek timer would run in parallel with the spin timer, and depending on controller usage, data read commands could even kick off before spinup was complete. No

[2019-08-12 06:40] #166 closed

[2019-08-12 10:34] ahope1 commented on #166
Yes, the bug doesn’t seem to be reproducible in the latest version of JSBeeb.

Just for reference, here’s the bug in action in the older version of JSBeeb that’s currently still installed on bbcmicro.co.uk:

http://bbcmicro.co.uk//jsbeeb/play.php?autoboot&disc=https://dl.dropboxusercontent.com/s/f7zpglqfawowlqd/VDU14bug.ssd

[2019-08-13 04:33] #109 closed

[2019-08-13 05:38] scarybeasts commented on #115
Oh, breaking 6502 branch interrupt check timing in order to fix 65c12 branch interrupt check timing seems a bit vexatious. I'll send a PR that gets both correct.

@BigEd @mattgodbolt What else is pending in order to close this bug?

[2019-08-13 09:35] scarybeasts commented on #115
PR to fix 6502 branch interrupt check timing is:
https://github.com/mattgodbolt/jsbeeb/pull/212

I've noticed some other bugs in the general area of BRK / IRQ / NMI etc., I'll crank through them as time permits.

[2019-08-13 13:17] mattgodbolt commented on #115
Thanks @scarybeasts . In terms of remaining word, I'm not actually sure. We have the "pi spigot" test program and can try and use that to "prove" we run at the same speed as a real beeb, but I'm not sure how feasible that is. And if it doesn't match it's impossible to know what's differing. Though from @BigEd 's more recent (2018!) replies perhaps we're "done" on this bug now...

[2019-08-13 13:47] mattgodbolt commented on #166
Thanks both!

[2019-08-13 13:59] BigEd commented on #115
It would be quite good to rerun any tests used in this thread, hoping for cycle accuracy and recording any discrepancies. Just possibly raising new issues for anything seen, to keep things as unconfusing as possible.  It might be that all is now well.

[2019-08-13 14:21] mattgodbolt commented on #186
Thanks @lurkio . Sadly nothing obvious in there...I was hoping to see some web audio errors. But it seems like jsbeeb thinks it's making noises, but nothing's happening!

[2019-08-13 14:22] mattgodbolt commented on #68
Gah, I have half the code written, but ran out of concentration:) Stupid CppCon...will return to this when I can (sometime late September...)

[2019-08-13 16:39] lurkio commented on #186
Anything else I can do to try and diagnose the problem? (I haven't a clue about JS, sadly.)

[2019-08-13 17:24] lurkio commented on #186
@mattgodbolt Does this attached screenshot mean anything to you? The audioContext object seems to have a "state" property with a value of "suspended", which seems a bit ominous..? (Caveat: again, I don't really have a clue what I'm talking about.)

<img width="1560" alt="Screenshot 2019-08-13 at 18 19 27" src="https://user-images.githubusercontent.com/26767174/62962664-43963500-bdf7-11e9-85ab-c9fe

[2019-08-14 10:29] richtw1 commented on #184
I was overriding this Chrome behaviour with a flag, but they seem to have removed it now, and Chrome seems to decide 50/50 whether to allow sound or not now.

You can type:
`soundChip.jsAudioNode.context.resume()`
at the console to get sound back.  I wonder whether it's worth just adding that in keyDown()?

[2019-08-14 13:08] mattgodbolt commented on #184
That's a great idea! Thanks. This might also fix #186 . We can also pop a UI element that explains the lack of sound if we notice the node is paused

[2019-08-14 14:35] richtw1 commented on #186
@lurkio: Does typing `soundChip.jsAudioNode.context.resume()` on the console bring the sound back for you?

[2019-08-14 15:31] lurkio commented on #186
No. There's still no sound.

[2019-08-14 15:34] lurkio commented on #186
See attached screenshot.

<img width="1235" alt="Screenshot 2019-08-14 at 16 33 37" src="https://user-images.githubusercontent.com/26767174/63034508-6a18a680-beb1-11e9-8672-61da5218074a.png">

[2019-08-14 15:52] richtw1 commented on #186
Your system has instanced `webkitAudioContext` instead of `AudioContext` (as per mine).  Maybe `webkitAudioContext` isn't working properly?  No idea about this API unfortunately.

[2019-08-14 16:33] lurkio commented on #186
Through an amazing process of blindly typing things that I don't understand into the console, I managed to get sound working! I referred to this webpage:

https://www.mattmontag.com/web/unlock-web-audio-in-safari-for-ios-and-macos

I modified the code there and then pasted it into the console of a new running instance of JSBeeb:

`const audioCtx = soundChip.jsAudioNode.context;`

[code]

`unlockAu

[2019-08-14 16:36] richtw1 commented on #186
Nice!  Sounds as if maybe adding a `resume()` into `keyDown()` might well fix your issue, as well as Chrome's, as per my suggestion in #184 .

[2019-08-17 00:43] scarybeasts commented on #186
@mattgodbolt @richtw1 I don't have Safari so if one of you could check Safari (on Mojave I suppose) before approving, that would be great. It _should_ work because the standard here is pretty clear but Firefox was a bit finicky so you never know.

[2019-08-17 01:02] lurkio commented on #186
@scarybeasts I just tested by deploying your branch on Netlify. It works in Safari on Mojave.

Orange no-sound warning banner comes up at first but goes away on click/keypress, and then sound is on! Many thanks!

[2019-08-17 02:03] scarybeasts commented on #186
@lurkio Thanks for checking! That's awesome that it works. Out of curiosity, does Safari remember this "preference" at all?

Chrome has all sorts of rules: https://developers.google.com/web/updates/2018/11/web-audio-autoplay

Reading Chrome's rules, the good news is that a site structured like bbcmicro.co.uk might work without user interaction in the first place, since the user launches a game by

[2019-08-17 14:23] lurkio commented on #186
No, the warning banner comes up every time.

[2019-08-17 20:44] scarybeasts commented on #186
@lurkio Interesting! Perhaps annoying if it persists.

On Chrome, the warning was coming up every time for me but then it stopped. I think what may have happened is that a new day rolled over, and Chrome now has metadata that I sort of "liked" (permitted and didn't closed sound for) the web origin yesterday so it should be permitted to autoplay going forward.

[2019-08-18 02:18] scarybeasts commented on #139
@ahope1 Does this still reproduce for you? If so, can you give an example launch URL that sets up jsbeeb as you describe? Seems like something I could try and fix.

[2019-08-18 09:42] ahope1 commented on #139
@scarybeasts Yes, if you use the link below and do the `*COPY 0 1 *.*` and wait for the copy to finish, you can then do `*DRIVE 1` and `*DUMP !BOOT`, and you'll see that the !BOOT file is all zeroes! Other files are just zeroes too. It seems to be the files towards the end of the disc that are affected.

https://bbc.godbolt.org/?disc2=local:YYY

[2019-08-18 10:14] scarybeasts commented on #139
Oh thanks @ahope1 !

Good news, easy to fix.
Bad news, I think @mattgodbolt owes us both a beer for this one! PR incoming...

[2019-08-18 14:29] mattgodbolt commented on #139
Uh oh... add it to the tally @scarybeasts :D

[2019-08-18 20:14] #139 closed

[2019-08-19 01:54] #184 closed

[2019-08-19 01:54] #186 closed

[2019-08-19 02:02] scarybeasts commented on #106
@mattgodbolt Given that Microsoft Edge is switching to the Chromium engine, should we simply close this?

[2019-08-19 02:10] scarybeasts commented on #44
@mattgodbolt Is this something that used to trigger pretty quickly? I had a quick blast, mounted an ill-advised assault against the Lave space station, and didn't immediately notice any sound hanging.

[2019-08-19 05:44] scarybeasts commented on #113
Works fine in the latest Chrome.

[2019-08-19 05:55] scarybeasts commented on #112
Ok, I think we're close to being to close this issue:

- @mattgodbolt made discs read/write by default.
- I added the &noseek parameter to make disc seek noises (and delay) optional with https://github.com/mattgodbolt/jsbeeb/pull/211
- Issue #162 remains open to track the desire to have some form of UX for discs that are written to and not saved somewhere.

I've crashed into a few quirks with the

[2019-08-19 07:21] scarybeasts commented on #113
Actually still problems... re-opening.

[2019-08-19 07:22] scarybeasts commented on #112
Actually, re-opening issue #113 to fix some Google Drive issues and closing this issue.

[2019-08-19 07:22] #112 closed

[2019-08-19 14:24] mattgodbolt commented on #106
I guess we could... if anyone still cares about "legacy" Windows browser support, speak up and I'll reopen :D (@kieranhj ?)

[2019-08-19 14:24] #106 closed

[2019-08-19 14:25] mattgodbolt commented on #44
Yeah this used to happen straight away. I was actually demo'ing Elite on Thursday and used the tube version and was surprised that it worked so well...so...I think this is fixed :)

[2019-08-19 14:25] #44 closed

[2019-08-19 14:25] mattgodbolt commented on #44
also lol at "ill-advised assault" -- :)

[2019-08-19 14:29] kieranhj commented on #106
What’s Edge? ;)

[2019-08-19 14:55] kieranhj commented on #142
This was a trivial fix for b-em. I would submit a PR but I don’t have a suitable build environment to test!

https://github.com/kieranhj/b-em-1/commit/a7a7d83abfc72f76dc435fea63adea56a1708d72

[2019-08-19 14:57] mattgodbolt commented on #142
Thanks Kieran! We can work from this!

[2019-08-20 04:08] #142 closed

[2019-08-21 05:45] #113 closed

[2019-08-21 07:14] scarybeasts commented on #119
Hmm, this one seems pretty easy to diagnose just looking at the code. In the "collapsed MODE 3", the vsync is triggered much higher on the simulated CRTC display, and the drawing code simply doesn't draw to the canvas in the affected locations.

I suspect a real CRTC wouldn't sync to this resulting mode because it'll be significantly >50Hz but you never know.

I suppose if we wanted to be both fas

[2019-08-21 13:38] mattgodbolt commented on #113
Thanks: I'm updating the site now

[2019-08-22 06:51] scarybeasts commented on #164
@mattgodbolt I found myself fiddling around with what this might look like.

There's an unfinished CL I just uploaded on the "paste" branch. Aside from starting to experiment with paste, I also quite like the cleanup for sendRawKeyboardToBBC.

Before I continue with the CL, could I get some feedback on the following items?

- Do we still think paste is a worthwhile feature?
- What should the UX be

[2019-08-22 07:12] richtw1 commented on #164
Yes please add this!! I think you'll certainly be limited by the 100Hz timer, and I even think it waits for two ticks to process a key, though maybe I've misremembered.

You thinking of mapping it to a non BBC key, or via a UI element?

[2019-08-22 07:16] richtw1 commented on #164
There's probably even a clever way to observe that a character has been consumed from the keyboard buffer, in order to give you max throughput. Think that in, e.g. Mode 2, each character is 32 bytes to display, and scrolling another 640 bytes to clear. Key presses might get lost if you went too fast.

[2019-08-22 07:34] scarybeasts commented on #164
@richtw1 There's unfinished code on the referenced branch:
https://github.com/mattgodbolt/jsbeeb/tree/paste

Paste is mapped to the HTML onpaste event for a textarea shadowing the main render canvas. This means you get "right click -> paste" provided by the browser. In my Linux laptop it's also super convenient to just hit the middle mouse button in the middle of the jsbeeb window.

There may be s

[2019-08-22 15:31] lurkio commented on #186
@scarybeasts Just to mention that your fix seems to have enabled sound in Safari on iOS too, where there was previously no sound at all, just as on Mojave.

So now JSBeeb can produce sound on iOS although there's obviously still no keyboard support.

[2019-08-23 09:18] richtw1 opened #223 "Menu at top doesn't let go of focus if you cancel the popup menu"
Example repro:

- Click 'More'
- Click outside popup menu to make it disappear
- Up/down cursor keys now bring the menu back (as well as emulating the Beeb keypresses) because 'More' still has focus

[2019-08-24 02:53] scarybeasts commented on #223
@richtw1 @mattgodbolt Oh that's interesting, I was grappling with a similar issue in my "paste" support so now I can re-use the same approach to fix this too. I'll see if there's a trivial change I can make on my "paste" branch and re-upload.

[2019-08-24 02:59] scarybeasts commented on #223
BTW @richtw1, was this Menu -> Fullscreen -> Play Exile and scroll view using cursor keys? :)

[2019-08-24 05:19] scarybeasts commented on #95
I'll fix this.

BTW, just used my "paste" branch to paste in the repro above and it's very refreshing!

[2019-08-24 14:48] mattgodbolt commented on #95
Yay that's great :)

[2019-08-24 17:06] ahope1 commented on #114
Just wanted to mention that you can now control JSBeeb from a physical Bluetooth keyboard on iOS -- or at least you can on my stock non-jailbroken iPad Pro, which is what it just occurred to me to test with.

Obviously it would still be great if an on-screen software iOS keyboard could be implemented too, but at least the use of a hardware Bluetooth keyboard is now a sort of stopgap solution for i

[2019-08-24 17:10] ahope1 commented on #85
We should probably close [this](https://github.com/mattgodbolt/jsbeeb/issues/85).

Duplicate of #186 and #114.

[2019-08-24 17:54] lurkio commented on #164
@scarybeasts Neat. I've been testing this on iOS. It basically works, but there was an alarming moment when the text I'd copied to the iOS clipboard came out with its case inverted when I pasted it into JSBeeb! But I can't reproduce the effect. I might try again later.

[2019-08-25 00:53] #164 closed

[2019-08-25 01:13] scarybeasts commented on #164
@lurkio You'll probably get inverted case if CAPS LOCK is off when you paste something. If it's a bother, it should be possible to address without diving too hard into the internals of the BBC state.

[2019-08-25 01:13] scarybeasts commented on #223
Fixed by https://github.com/mattgodbolt/jsbeeb/issues/164

[2019-08-25 01:13] #223 closed

[2019-08-25 01:27] scarybeasts commented on #86
We now have initial paste support, courtesy of: https://github.com/mattgodbolt/jsbeeb/issues/164

I'm going to be opinionated and suggest that copy is probably a big lift to implement in any way, hence closing.

There are a lot of different ways to consider implementing getting I/O into and out of jsbeeb. For me personally, a virtual serial connection seems appealing, e.g. enable RS432 I/O on the

[2019-08-25 01:27] #86 closed

[2019-08-25 07:25] scarybeasts commented on #146
I've implemented this because it's a great time saver for me :)

For posterity, it's worth noting that the incoming PR also fixes loading of DSDs from the STH archive, which was surprisingly broken -- Lancelot.zip for example contains a DSD and won't load currently.

[2019-08-25 16:57] mattgodbolt commented on #146
Great stuff! thanks @scarybeasts . FWIW I typically dump DSDs into the `discs/` directory (which is set up to ignore new things in `git`, so they don't get added...then I use urlparams to quickly re-test discs etc. This is a welcome addition!

[2019-08-25 17:03] #119 closed

[2019-08-25 17:04] #146 closed

[2019-08-25 18:27] lurkio commented on #164
@scarybeasts:

Just tried again. Yes, the issue seems to be dependent on the state of the Caps Lock key. I take it you're toggling Caps Lock to switch case when pasting the text, then?

Perhaps the state of Caps Lock and Shift Lock should be cached before the paste happens, then Caps Lock and Shift Lock should be reset, and then the paste can go ahead..?

[2019-08-26 06:59] scarybeasts commented on #129
In the default mapping, pound/underscore is unmapped as is backslash/pipe.

I don't think there are any good places left. But somewhere is better than nowhere so:

- BBC backslash/pipe can be real backslash.
- BBC pound/underscore can be pageup.

[2019-08-26 07:05] #129 closed

[2019-08-26 13:03] mattgodbolt commented on #169
pinging @kieranhj here: I checked the stardot thread you mentioned and I'm blowed if I can see the minimal test case there :)

[2019-08-26 13:23] kieranhj commented on #169
Hmm, not sure there is a minimised test case unless it was the twister.zip in the first post. I do have some test code somewhere but not currently able to fire up my real Master to check & describe. Probably be this time next week, sorry.

[2019-08-27 01:09] mattgodbolt opened #230 "Failing protection tests didn't fail the build"
https://travis-ci.org/mattgodbolt/jsbeeb/jobs/577088183#L363 -- `make test` is failing but not returning an error to the CI so all apparently is OK :) (the actual bug itself is a quick fix but this is unfortunately not caught by my dreadful test framework!)

[2019-08-27 01:22] #230 closed

[2019-08-27 01:51] mattgodbolt opened #231 ""fs" URI param doesn't work"
If you go into fs mode, you get the `#fs` URI fragment, but loading a URL with it on doesn't go into full screen.

I think the `#fs` is actually a mistake: the HTML `<a>` tag refers to it: I guess this should really be "make fullscreen a proper URL parameter, or else get rid of the `#fs` tag (with a `preventDefault` or similar). Not sure what's best, but the current behaviour is confusing

[2019-08-27 21:46] #231 closed

[2019-08-28 11:42] ahope1 commented on #95
Great work, everyone!

Could the latest release be pushed to bbc.godbolt.org, please?

[2019-08-28 14:00] ahope1 commented on #95
@mattgodbolt:

Many thanks! Didn't mean to pester. There wasn't any rush, really. But the quick push is very much appreciated. Thanks again!

[2019-08-28 21:58] scarybeasts commented on #164
Thanks @lurkio, landing a patch to do just that.

[2019-08-28 23:05] scarybeasts commented on #103
Yes, might as well fix it properly. PR incoming.

[2019-08-29 01:29] mattgodbolt opened #237 "Move away from nodeunit"
* nodeunit has been deprecated for years
* it's crap anyway
* I get warnings about stale old CVE-ridden packages (e.g. old versions of `diff`) which I don't care about but annoy me.

[2019-08-29 03:50] #103 closed

[2019-08-29 04:13] scarybeasts commented on #33
I found my decent headphones so I can carry this over the finish line and make sure there are parameters.

[2019-08-29 07:15] scarybeasts commented on #33
Ok, Q value of 5 seems to give a clean sound so used that as default, along with 7khz.

The music in the Master version of Stryker's Run is a good test, it uses big bold square waves. For experimentation, I recommend flipping values around "live" to hear to the difference. This is done via the console as per my Jul 30 comment above.

[2019-08-29 14:42] mattgodbolt commented on #33
Sounds great! If it can be tweaked (by a URL param) I'd be happy to merge as it is and let folks play with it a bit (looking at you @inversephase and the stardot people...)

@scarybeasts do you have access to a real beeb to do a side-by-side? Tough one I know!

[2019-08-29 14:56] #33 closed

[2019-08-29 19:41] scarybeasts commented on #33
Sadly I don't have a real beeb :(

[2019-08-30 14:27] richtw1 opened #241 "Atic Atac STH tape image doesn't load"
Loads the first custom block correctly, but fails on the second part (after the title screen has appeared) with a Data? error on block 1 (this is also a custom format I think).

[2019-08-30 17:30] #181 closed

[2019-08-30 22:18] mattgodbolt commented on #241
Oh darn: what on earth made you re-check it? :) Does it work ok on other emulators (if it's quick to check?)

[2019-08-31 00:04] mattgodbolt commented on #156
https://travis-ci.org/mattgodbolt/jsbeeb/jobs/579039175 yay!

[2019-08-31 00:04] #156 closed

[2019-08-31 00:05] mattgodbolt commented on #155
Not sure I care about this. If we ever need beta back i think I know how now.

[2019-08-31 00:05] #155 closed

[2019-08-31 03:09] scarybeasts commented on #115
A fairly random thought but does the Master sync elapsed TIME (as in the variable) with the Real Time Clock elapsed time? If so, perhaps old hardware drifts relative to real time? @BigEd

[2019-08-31 15:55] #237 closed

[2019-09-03 07:35] #169 closed

[2019-09-03 07:37] scarybeasts opened #247 "Wave Runner demo renders incorrectly in various ways at the end."
Unfortunately, after the recent Twisted Brain fixes, Wave Runner still has problems.

[2019-09-03 08:04] scarybeasts commented on #247
![wave_runner1](https://user-images.githubusercontent.com/26288899/64154982-c9017980-cde6-11e9-89f8-128cdfb19b69.png)

[2019-09-03 08:05] scarybeasts commented on #247
Image shows at least two issues: vertical border failure and incorrect scanline at the bottom of each black blob. This bug can track fixing those two issues... there may be more issues still on the screen after this.

[2019-09-03 20:28] #247 closed

[2019-09-04 06:19] scarybeasts commented on #241
b-em just loaded it ok, so sounds like there's something to fix here.

[2019-09-04 06:40] scarybeasts commented on #104
c8e9d5384087c4e201ef101d9eb3be9e755c0db8afb4ece6d668ef4b647961ae  ProBoxingSimulator_B.hq.zip

Loads fine. I even headbutted my way to victory in round 1 of the junior championship.

Appears something fixed this over the last 4 years.... closing.

[2019-09-04 06:40] #104 closed

[2019-09-04 06:49] scarybeasts commented on #241
Alright... Atic Atac not loading... we can't have that. I'll take a look.

[2019-09-05 01:03] scarybeasts commented on #241
The other Ultimate STH tape images load ok (JetPac, Alien8, Knight Lore, Sabre Wulf).

[2019-09-05 07:11] #132 closed

[2019-09-06 20:47] scarybeasts commented on #241
For posterity, other interesting tape files from STH include:

- The Hacker by Firebird.
Uses "defined data" UEF blocks which aren't super common and even seems to trigger a serial overrun condition at the end of the load.

- Chip Buster by Software Invasion.
Has a custom loading routine for the main file where the tape blocks count backwards from FF.

[2019-09-06 21:21] #241 closed

[2019-09-07 08:20] scarybeasts commented on #115
On Tricky's Master: "Mode 7, 80 digits 1.08 3 out of 3, DFS all other ROMs UNPLUGed". This matches current jsbeeb at 1.08 so I think we're in good shape. We've improved various things under the umbrella of this bug, including interrupt vs. branch behavior.

Closing this bug for now. If additional issues remain or surface, we can file a fresh bug.

[2019-09-07 08:20] #115 closed

[2019-09-07 12:33] mattgodbolt commented on #115
Amazing stuff: thanks @scarybeasts and Tricky!

[2019-09-08 13:42] ribbons opened #255 "File saved to Google Drive image is missing after a refresh"
My apologies if I'm being dumb and missing something obvious here but I'm saving a file to a disc on Google Drive and is isn't there if I reload jsbeeb:

Steps to reproduce:
https://bbc.godbolt.org/?disc=gd%3A[mydiscid]%2Fexport

[code]
![image](https://user-images.githubusercontent.com/961548/64488946-b0a9b880-d245-11e9-8cd4-e86472999ede.png)

Browser console:
![image](https://user-images.githubu

[2019-09-08 20:35] mattgodbolt commented on #255
Zoiks! thanks. There4's a short delay before things get saved (in theory) to prevent tons of writes to Google Drive...if oyu give it "a while" (like 5 seconds) does it save?

Will take a look in the next few days: Thanks!

[2019-09-08 20:38] mattgodbolt commented on #255
thanks for posting the JS console...just checked the code and we ought to have seen "Saved ok" at some point....debounced by 200ms, so...I'm guessing something is broken!

[2019-09-09 04:53] scarybeasts commented on #255
Oh, just saw this bug.

Terribly sorry about that I think I must have broken it recently? Can we blame JavaScript scoping rules? :)

Anyway this is landed and should fix it: https://github.com/mattgodbolt/jsbeeb/commit/6cdeed8120a6d438a2055847157e3ab5249b669b

Let me know if it doesn't!

[2019-09-09 04:53] #255 closed

[2019-09-09 19:07] ribbons commented on #255
Thanks both!  Tested and working successfully now :+1:.

No need at all to apologise after your good work recently @scarybeasts :smiley:.

[2019-09-14 13:52] richtw1 opened #257 "Star Drifter tape version fails in custom tape loader"
https://bbc.godbolt.org/?&tape=sth%3AFirebird%2FStarDrifter_B.hq.zip#

Don't know if related to the other issue with the UEF state machine.

[2019-09-16 09:44] scarybeasts commented on #257
Hmm, I did see one other place in UEF that might be capable of triggered a similar error, maybe this hits it? I'll have a look as soon as time permits.

[2019-09-16 21:03] scarybeasts commented on #257
This one may be something different. It's interesting, initial notes:

- b-em can't load the custom blocks at all, it fails with Data? on the first one.
- jsbeeb handles about 6 or so before bailing with Block?
- beebem can actually load the entire game!

As jsbeeb fails, there's a lot of "serial overrun" in the console.

[2019-09-22 19:00] scarybeasts commented on #257
Also ran through this list, as well as Atic Atac, The Hacker and Chip Buster, to make sure we're doing ok: http://beebwiki.mdfs.net/List_of_copy_protected_software_titles_on_cassette

[2019-09-22 19:01] scarybeasts commented on #257
(Looks like Caveman Capers could have an issue, I'll investigate in a separate bug if necessary.)

[2019-09-22 19:09] scarybeasts commented on #257
- Custom loader hits &FE08 and &FE09 directly.
- While custom loader is running, interrupts are on and MOS is ticking its timer -- presumably for the sound player?
- Bit of timing variance, but eventually MOS timer tick occurs during an intra-block tone.
- Our current code holds DCD high while in an intra-tone block.
- MOS believes RS423 owns the serial, and it sees DCD high, so it reads the seria

[2019-09-22 19:24] #257 closed

[2019-09-25 16:02] scarybeasts opened #262 "Caveman Capers tape image doesn't load"
https://www.stairwaytohell.com/bbc/archive/tapeimages/Icon/CavemanCapers_B.hq.zip

The UEF loads on BeebEm, and also on a real beeb via uef2wave.py.

Caveman Capers is listed here as an interesting title for copy protection: http://beebwiki.mdfs.net/List_of_copy_protected_software_titles_on_cassette

[2019-09-25 18:41] scarybeasts commented on #262
This one is going to be nasty.

Notes part 1:

Loader is at &1100
- &1100: loads big file CAPERS2 via OSCLI L.CAPERS2
- &1107: OSCLI L.TUNE
- &110e: OSBYTE 205, X=&40: select RS423
- &1117: OSBTYE 7 / 8, X=3, receive / transmit 300 baud
- &1129: OSBYTE 156 x 2, update ACIA control register
- &113b: OSBYTE 137, X=1, cassette motor on
- &1144: OSBYTE 2, X=2, RS423 is input stream
- &114d, OSBYTE 156

[2019-09-25 19:09] scarybeasts commented on #262
- &11cc: OSRDCH twice until &2a &2a. (Tape stream appears to hit after &2a &00 &2a &2a)
- &11da: manually write "Loading" to the screen
- &11e7: read 47 bytes into &700 using OSRDCH. Checksum maintained in &70, which passes.
- &1159, OSBYTE 2, X=0, keyboard is input stream
- &1162: OSBYTE 156, update ACIA control register
- &116b: OSBYTE 137, X=0, cassette motor off
- &1174: OSBYTE 13, X=4, disabl

[2019-09-25 19:10] scarybeasts commented on #262
Everything appears to be in order except that the final *R. START doesn't quite work properly because some state somewhere must have been left screwed up. The "copy protection" has run and decided its happy with the non-standard tape bytes it read.

[2019-09-25 19:48] richtw1 commented on #262
What's the vsync event doing?  Is it possible that there's a subtle timing issue here?  e.g. if it's expecting to get a vsync N times while it loads the special stream?

[2019-09-25 19:51] richtw1 commented on #262
By the way, this loading code seems almost identical to AUG P.314.  Main difference seems to be *FX 2,2 instead of *FX 2,1 (meaning that keyboard is selected?), and lack of DCD detection?

[2019-09-26 16:30] #262 closed

[2019-09-28 21:44] tom-seddon opened #268 "VIA T2 doesn't count manually-induced PB6 pulses"
T2 should count PB6 pulses that are induced by changing ORB or DDRB. See attached disc - load image, run with SHIFT+BREAK. Expected output:

[code]

Thanks,

--Tom

[VIA.PB6.ssd.zip](https://github.com/mattgodbolt/jsbeeb/files/3666042/VIA.PB6.ssd.zip)

[2019-10-04 12:48] mattgodbolt opened #274 "Debug screen is black "in front of" the beam"
Hitting a breakpoint or ctrl-HOME now yields a black screen post-the virtual CRTC beam. To repro:

* MODE 2
* ctrl-s 0 4 0 0 0
* hit ctrl-home
* notice the screen post the beam location is black.

I think this is probably a result of the improvements to the CRTC emulation, but it's convenient to see the screen when debugging :)

![Screenshot from 2019-10-04 07-48-38](https://user-images.githubuser

[2019-10-04 12:50] mattgodbolt commented on #274
@richtw1 quite likes this: maybe it should be configurable? or the "remaining" screen should be like 30% faded out or something?

[2019-10-04 12:55] richtw1 commented on #274
I don't think I'd bother keeping it TBH. If it's more useful to see the entire screen then that's what it should do. Sometimes a million configurable options just needlessly complicates!

[2019-10-04 13:00] richtw1 commented on #274
That said, this isn't obviously easy to fix, because it's an inevitable consequence of clearing the texture at the start, instead of blanking scanlines as they're rasterised.  This gave a reasonable performance gain, so it would be a shame to put it back.

Other possibilities:
- always pause when raster at the bottom of the screen (might lead to stopping in the same point in execution each time?)

[2019-10-04 15:07] mattgodbolt commented on #274
Agreed it's not an easy fix. Just taking these comments:

1. Not really an option as "pause" is the same as breakpoint, and when debugging things it's also useful to know what's on the screen. In particular I use this a lot when I do presentations on jsbeeb (e.g. https://mattgodbolt.github.io/bbc-micro-emulation/avast/#/18 which I run on purpose to crash on the "undefined" opcode).
2. This is cool

[2019-10-04 15:07] mattgodbolt commented on #274
(that said the "old" screen around could be used to e.g. do phosphor simulation)

[2019-10-17 13:12] #68 closed

[2019-10-17 22:31] mattgodbolt commented on #68
woo actually done. Not all that happy but I have something of a framework to start improving from.

[2019-10-17 22:59] mattgodbolt opened #283 "Consider moving to modern JS!"
ECMAScript 6 features are (sort of) creeping in anyway (I've spied some `const`s about).

Would be great to move to this...

https://docs.google.com/spreadsheets/d/1dlaD_V0yJeIKtjhk5-3wLu2NvTxkwIIQfTWIL05sIP0/edit?usp=sharing

shows the browsers we have had in the last year, 100 most popular...

[2019-10-22 19:23] ribbons opened #288 "Automatic printer output handling"
As an enhancement to #287 - I was wondering if it would be possible to automatically detect writes to the printer and store it so that showing the printer output window with Control-B would show any content written before the window was opened?

This would also have the effect of unblocking some programs which write to both the screen and printer, such as this cheesy poetry: https://bbc.godbolt.or

[2019-10-22 23:39] scarybeasts commented on #126
Kieran's test case looks like it actually got worse in recent jsbeeb (b-em is better for example), so definitely some investigation still needed here.

[2019-10-23 03:58] mattgodbolt commented on #126
zoiks!

[2019-10-28 22:52] mattgodbolt opened #291 "fake CRTC dot out of step with actual location"
Now the screen doesn't draw below the point where the CRTC dot is... the crappy dot I draw for the electron beam is clearly in the wrong place... #274
![Screenshot from 2019-10-28 17-50-41](https://user-images.githubusercontent.com/633973/67723969-9ec5d580-f9ab-11e9-89c8-357fdf5c7544.png)

It's roughly the right spot left to right, but far too far down the screen. One solution would be to just kil

[2019-10-28 22:56] mattgodbolt commented on #291
on train....the "renderY = y << 1" seems to be at fault. without it, in `MODE 2` at least the dot's in roughly the right spot.

[2019-11-06 21:14] scarybeasts commented on #126
[mode7-75.zip](https://github.com/mattgodbolt/jsbeeb/files/3816753/mode7-75.zip)

[2019-11-08 02:02] scarybeasts commented on #126
Didn't mean to close this.

[2019-11-08 02:04] scarybeasts commented on #126
There's hope: looks like b2 gets Kieran's test case correct, missing scanlines and all, and we understand the difference in SAA5050 <-> 6845 modeling between b2 and jsbeeb. We've confirmed b2's modeling is correct by scoping which pins are connected and how.

[2019-11-08 09:36] scarybeasts commented on #126
This PR makes things a bit better: https://github.com/mattgodbolt/jsbeeb/pull/292

Stuff that's fixed:
1) ?&FE00=9:?&FE00=24
Kind of flickery (probably not hitting R7/vsync) but the extra scanlines now correctly show a repeat of the "A" character if you do CLS then type AAAAAA.

2) ?&FE00=8:?&FE01=&90:?&FE00=9:?&FE01=9
This is no-interlace MODE 7, and it now works and even renders the incorrectly

[2019-11-08 09:36] scarybeasts commented on #126
![mode7noninterlace](https://user-images.githubusercontent.com/26288899/68465875-28557e80-01c8-11ea-95a2-d86c4e7b4911.png)

Attaching an image of no-interlace MODE 7 for gits and shiggles.

[2019-11-09 20:44] scarybeasts commented on #126
Also landed: https://github.com/mattgodbolt/jsbeeb/pull/293

This fixes: ?&FE00=6:?&FE01=100

Still no joy with Kieran's teletext ssd of doom.

[2019-11-10 08:37] scarybeasts commented on #126
mode7-75.ssd regressed with https://github.com/mattgodbolt/jsbeeb/pull/278, a change that fixes some pretty wayward (any easily measurable) interlace timing, so time to put the thinking cap on!!!

[2019-11-13 06:29] scarybeasts commented on #126
Also landed: https://github.com/mattgodbolt/jsbeeb/pull/294

Kieran's teletext ssd of doom is now acceptable; better than it's ever been. Screenshots to follow.

[2019-11-13 06:32] scarybeasts commented on #126
![parrot_jsbeeb](https://user-images.githubusercontent.com/26288899/68738842-39253c00-059c-11ea-8a0b-5e4aa51b1970.png)

That's jsbeeb's current render of the parrot. Note that the missing black chunks are actually a correct emulation. Older jsbeeb rendered a "whole" parrot but that didn't match real hardware.

[2019-11-13 06:35] scarybeasts commented on #126
![parrot_real_hw](https://user-images.githubusercontent.com/26288899/68738966-830e2200-059c-11ea-8d9f-a30d39bbfb3c.jpg)

That's Kieran's original screenshot from real hardware. Looks the same on the beeb model 3 I have.

jsbeeb isn't perfect -- there's a thin black scanline about a third of the way down on real hardware which is unexplained. But I think we're good enough to mark this issue as fixe

[2019-11-13 06:35] #126 closed

[2019-11-13 07:48] #291 closed

[2019-11-13 15:29] sassquad commented on #150
Judging by this [video](https://www.youtube.com/watch?v=kZrl91SPSpc) from the 2019 Chrome Developers Summit, a lot of work has been done to support threads, yielding significant performance improvements.

[2020-01-12 16:36] mattgodbolt opened #296 "Feature request: casette motor relay sound"
The casette motor relay makes a very obvious "click" sound on real hardware. It would be lovely to model this with a "click" sound when the relay is on, and another when it's off. We could record the audio of the click from my bbc master, but a placeholder would be fine to start with.

Via email.

[2020-01-12 16:39] mattgodbolt commented on #288
Great idea. @scarybeasts any thoughts, seems like this should be a pretty change?

[2020-01-16 01:09] scarybeasts commented on #288
Yeah, shouldn't be too tricky. We may want it behind a new URL parameter though, unless we want to emulate a printer present by default?

[2020-01-20 14:29] lurkio opened #297 "Shift doesn't do uppercase when Caps Lock off"
In Firefox and Chrome, both on Mac, if you turn Caps Lock off and then try to produce a capital letter using Shift+letter-key, nothing happens!

[2020-01-20 14:30] lurkio commented on #297
Oh, hang on -- it works, but only if I switch to a different brower-tab and then back to the JSBeeb tab!

[2020-01-29 23:57] chromi opened #298 "Master Turbo should have 65c02"
I think the parasite side of the Master Turbo emulation is running the NMOS 6502 model.  It should be running a 65C02 model, while the host side runs a 65SC02 model.  The latter is correctly implemented for the Master 128 emulation, but I see no sign in the code of handling the Rockwell instructions (SMBx, RMBx, BBSx, BBRx) on the 65C02.

Correct on the B and M128 models; "N" output for NMOS CPU,

[2020-03-11 16:08] rog77 opened #300 "Kernel for Jupyter/Iodine?"
Sorry if this is in the wrong place, but I wonder how difficult it would be to adapt this project to work with an Iodine notebook as a runtime / kernel? Thanks !

[2020-03-11 18:16] mattgodbolt commented on #300
Hi! Interesting question: probably not _too_ bad. There's already a twitter bot that "types" in the code and we could use similar tricks (we use it for testing too, and can capture BASIC output). graphics might be tough.

[2020-03-11 19:12] rog77 commented on #300
https://mobile.twitter.com/bbcmicrobot was what inspired me to ask the question, if people are into sharing bits of BBC Basic code, maybe the notebooks would be used?

[2020-04-03 21:12] ojwb opened #301 "Screen mode alignment"
There seem to be some discrepancies in the alignment of the display in different screenmodes.

This program tries each screen mode in turn showing the mode number in the top left corner and a same-sized block in the other corners, and demonstrates the differences in alignment:

[code]

As well as MODE7 being shifted to the right by one column, the bottom edge of the screen seems to be ~one row hig

[2020-04-06 12:19] mattgodbolt commented on #301
Thanks for filing this! I'm hoping either @richtw1 or @scarybeasts can comment as they have spent the most time recently in video output.

[2020-04-06 16:56] richard-broadhurst commented on #301
The hi-rate modes, eg 1 start furthest to the left by default, with the low-rate modes ed 4 half a mode 1/4 character over and then MODE 7 starts a whole character over from that, 1.5 mode 1 characters over. MODE 7 has 250 displayed lines, where as the others except 3 and 6 have 256, so 3/4 a character.

[2020-04-07 13:40] richard-broadhurst commented on #301
That would probably be fine for basic BASIC programs, but if they do anything a little fancy, it might be safer just to capture "a bit extra". e.g. In case they wiggle or bounce the screen. If you have CPU time to spare, you could clip to the used region for the whole capture.

[2020-04-22 04:21] scarybeasts commented on #104
@richtw1 I just hit this in beebjit.

I think I know why it might work as a simple copy protection. If the code was loaded from disc, the default MOS state of "R423 selected" will apply and assuming there's nothing connected to the port, the serial byte write won't be consumed. If the code was loaded from tape, the state "tape selected" will apply and the serial byte write is always consumed (it's

[2020-04-22 04:23] mattgodbolt commented on #104
OH hahaha! How funny :-)

[2020-04-28 22:32] chromi commented on #298
Trying it today, the Master Turbo prints S, indicating a 65SC02.  This is a worthwhile improvement, but really it should execute a $47 opcode as RMB4, and print C to indicate a full 65C02.

The following text can be pasted in as a test case:
[code]

[2020-04-30 12:12] mattgodbolt commented on #298
Thanks @chromi !

[2020-05-06 14:39] lurkio opened #302 "Hell-Hole game freezes"
Hi. We've had a bug report from a user of bbcmicro.co.uk about the game Hell-Hole: it freezes in JSBeeb when you go down to the bottom of the screen on the first level and try to collect the diamonds:

http://bbcmicro.co.uk/game.php?id=728

The bug manifests in the version of JSBeeb installed on bbcmicro.co.uk, which is now the same as the latest version of JSBeeb in this Github repo and also (pre

[2020-05-06 17:33] mattgodbolt commented on #302
Confirmed: https://bbc.godbolt.org/?&disc1=sth%3AAlligata%2FHellHole-electron.zip# freezes at the bottom. Seems stuck in a routine around `$1d57`ish
![Screenshot from 2020-05-06 12-32-45](https://user-images.githubusercontent.com/633973/81209145-bd79da00-8f95-11ea-9814-7bc863b4a147.png)

[2020-05-06 20:04] lurkio commented on #302
Turns out the game runs if the active FS is DFS1.2 or tape:

https://stardot.org.uk/forums/viewtopic.php?f=51&t=17942&p=268150#p268147

[2020-05-06 20:36] #302 closed

[2020-05-26 17:18] richtw1 opened #303 "Video emulation leaving junk behind when the screen mode changes"
just type MODE 1 and see the junk in the border.

[2020-05-26 18:25] mattgodbolt commented on #303
Can't repro here in chrome on bbc.godbolt.org : do you need to have run something else first? Else, maybe something something opengl?

[2020-05-26 18:36] #303 closed

[2020-05-26 18:37] richtw1 commented on #303
It was a Chrome issue, now fixed in latest version it seems.

[2020-05-30 12:48] uecasm opened #304 "Corrupted text display after switching from graphics mode"
I'm not sure which version of JsBeeb they're using (perhaps it's outdated), but I recently noticed that immediately on startup of:

    http://bbcmicro.co.uk//jsbeeb/play.php?autoboot&disc=http://bbcmicro.co.uk//gameimg/discs/2135/Disc999-IslandOfSecrets.ssd&noseek

It displays a glitchy border, the correct startup title graphic, and then switches back to text mode, leaving the glitchy border and

[2020-05-30 13:24] uecasm commented on #304
If it helps, you can see the content of the disk file [here](http://bbcmicro.co.uk/explore.php?id=2135) -- click on Display next to `IOSLOAD`, which is the code that displays the startup title.

If I'm reading that correctly, it's drawing the title in `MODE 1` and then switching to `MODE 6` for the rest of the game, but something about that isn't clearing the screen properly.

[2020-05-30 13:37] uecasm commented on #304
Hmm.  Can't reproduce this on Firefox, only in Chrome.

[2020-05-30 14:56] mattgodbolt commented on #304
What version of Chrome are you using? @richtw1 recently had this and when he upgraded from Chrome 81 to Chrome 83 it went away.

[2020-05-31 01:37] uecasm commented on #304
Ah, maybe that's it then.  I'm also on 81.  My apologies for the noise.

[2020-05-31 01:37] #304 closed

[2020-06-21 06:07] ojwb commented on #301
The bot source code is now released, so I've been investigating further.

Looking at the framebuffer the jsbeeb `Video` object fills in, the first and last pixels which get set in each screen mode are:

[code]

So at least for a BBC Model B, it seems jsbeeb puts the top left of the screen at the same position on the virtual monitor for all modes except mode 7 - there it's offset 16 pixels to the r

[2020-06-21 13:52] mattgodbolt commented on #301
Fantastic: thanks so much @ojwb :)

[2020-08-23 22:09] murkle commented on #128
There's already some undocumented syntax for this in https://github.com/mattgodbolt/jsbeeb/blob/master/main.js

[code]

Maybe you can test if this still works :)

[2020-10-12 15:18] richard-broadhurst opened #309 "Fortress from SAM5 his non-TT on loading screen and corrruption left during gameplay"
Fortress from SAM5 his non-TT on loading screen and corrruption left during gameplay
[DiscA06-FortressSAM5.zip](https://github.com/mattgodbolt/jsbeeb/files/5365988/DiscA06-FortressSAM5.zip)

![image](https://user-images.githubusercontent.com/22466543/95763100-83c8a000-0ca6-11eb-870b-0dfc6d1ce4d1.png)

[2020-10-12 15:21] richard-broadhurst commented on #309
![image](https://user-images.githubusercontent.com/22466543/95763434-ede14500-0ca6-11eb-87d2-ff3c757ed5df.png)

[2020-10-20 19:55] mattgodbolt commented on #128
Another request over email (for BBC Joystick emulation to a PC joypad).

[2020-10-21 12:43] richard-broadhurst commented on #128
Wasn't me ;)
But, can I have analogue support via mouse please, just X would be enough
for my games ;)
I still have a few of your videos queued up, but am not getting any time!

On Tue, 20 Oct 2020 at 20:55, Matt Godbolt <notifications@github.com> wrote:

[2020-11-08 20:47] freesurfer-rge opened #310 "Copy 'key' gets stuck"
When using JSBeeb on OSX (Catalina 10.15.7), I'm finding that trying to use the Copy 'key' (via Right-Cmd F11) results in the copy key getting stuck. If I copy a single character, then it just keeps copying, as if I were holding the Copy key down. This continues until the maximum 5 lines have been copied, and the emulator starts beeping at me (until I hit escape). I think that the only problem is

[2020-11-28 15:08] murkle commented on #128
I just tested on iPad 6 with XBox One controller (need to be careful to get the right model, must be Bluetooth 1708) and my old gamepad code still seems to be working 🎉

Apple actually support this officially!
https://support.apple.com/en-us/HT210414c

https://www.macworld.com/article/3410800/how-to-pair-an-xbox-one-controller-with-iphone-or-ipad.html

[2020-11-28 19:46] mattgodbolt commented on #128
That's amazing! Thanks Michael!

On Sat, Nov 28, 2020 at 9:08 AM Michael Borcherds <notifications@github.com>
wrote:

--
Matt
(he/him)

[2020-12-03 11:32] BigEd commented on #150
Bumping this, in the vague hope that compiling (transpiling?) jsbeeb to wasm might be feasible, and might improve performance on an underpowered system such as Raspberry Pi.

[2020-12-03 14:01] mattgodbolt commented on #150
Hey folks! I don't know that jsbeeb will ever do wasm! I have one experiment using asm.js (a similar but different technology) - https://github.com/mattgodbolt/jsbeeb/pull/177.

WebAssembly isn't designed to be hand-written: it's made for being a target for compilation. So, like I said up above it's not really a goal for jsbeeb.

With respect to threads: I don't know how I could use threading to s

[2020-12-03 14:37] murkle commented on #150
@mattgodbolt have you seen AssemblyScript? Maybe that's a way forward with some refactoring rather than a rewrite???

https://www.assemblyscript.org/
https://github.com/as2d/as2d

[2020-12-03 20:41] mattgodbolt commented on #150
on man this is a rabbit hole...one that looks far too fun to get in to :D

[2020-12-03 21:14] mattgodbolt commented on #300
Not quite the same but [Owlet](https://bbcmic.ro/) might be part of what you want. See also [its github page](https://github.com/mattgodbolt/owlet-editor)

[2020-12-03 21:15] mattgodbolt commented on #301
Do we think this is now fixed?

[2020-12-04 00:31] ojwb commented on #301
I don't have a real machine to hand to compare to, but I fixed bbcmicrobot for the original issue that led to me opening this issue and the current jsbeeb behaviour seems reasonable, so I think this can be closed.

[2020-12-04 03:19] mattgodbolt commented on #301
Thanks @ojwb

[2020-12-04 03:19] #301 closed

[2020-12-06 14:05] murkle commented on #128
Looks like I added support for buttons only, not for the ADC joystick itself

Martin B has made a nice SSD so at least we can test it easily once it's implemented :)
https://bbc.godbolt.org/?disc=https://test.geogebra.org/~mike/jsbeeb/JoystickTest.ssd

[2020-12-06 14:10] murkle commented on #128
FEC0 uPD7002 analogue-to-digital converter (ADC) Write: Data latchRead:
      Status register
FEC1 uPD7002 analogue-to-digital converter hi-data byte
FEC2 uPD7002 analogue-to-digital converter low-data byte

http://www.8bs.com/mag/32/bbcmemmap2.txt

[2020-12-06 14:18] murkle commented on #128
https://github.com/mattgodbolt/jsbeeb/blob/master/adc.js

[2020-12-06 16:08] murkle commented on #128
@mattgodbolt
https://github.com/murkle/jsbeeb/commit/a0816a1295c2afc721d3443a68ff25b0accd0614
https://github.com/murkle/jsbeeb/commit/0d048c6d81f7db92f6bb5e069fd40f5a49067ee6

Seems to work 😇
https://test.geogebra.org/~mike/jsBeebJoysticks/?autoboot&&disc1=sth%3AAcornsoft%2FSnapper-v2.zip#

[2020-12-07 22:27] murkle commented on #128
All good now https://test.geogebra.org/~mike/jsBeebJoysticks/?autorun&loadBasic=https://test.geogebra.org/~mike/jsbeeb/joystickTest.bbc

If we change the "fire" button to A then we should also disable the default mapping of A as <Return>
[code]

[2021-02-01 16:32] mattgodbolt commented on #309
Was unable to reproduce in Chrome 88 on Linux; can you let me know which browser you're using? I know we've seen these kinds of corruptions come and go with Firefox versions...

[2021-02-06 10:55] hoglet67 commented on #141
Here's another sequence that doesn't quite work correctly:

VDU &91,&61,&9E,&92,&93,&94,&81,&91,&91,10,13

The &81 should reset the held character to a space, and to that as "set after". On JSBeeb the held character remains.

![Screenshot from 2021-02-06 10-51-36](https://user-images.githubusercontent.com/1951463/107116166-5d3bff80-6869-11eb-8735-cfafd6360ee7.png)

Here's the read hardware:
![capt

[2021-02-16 20:32] BigEd commented on #141
(@scarybeasts  should this be reopened? Or a new issue?)

[2021-02-16 20:54] scarybeasts commented on #141
This issue's a bit long in the tooth; I'd recommend a new issue.

[2021-02-16 21:00] hoglet67 opened #316 "Teletext: Change to text mode should reset the held character"
Here's another sequence that doesn't quite work correctly:

VDU &91,&61,&9E,&92,&93,&94,&81,&91,&91,10,13

The &81 should reset the held character to a space, and to that as "set after". On JSBeeb the held character remains.

![Screenshot from 2021-02-06 10-51-36](https://user-images.githubusercontent.com/1951463/107116166-5d3bff80-6869-11eb-8735-cfafd6360ee7.png)

Here's the read hardware:
![capt

[2021-02-16 21:01] hoglet67 commented on #141
Opened a new issue: #316

[2021-02-17 16:50] mattgodbolt commented on #141
Thanks folks!

[2021-02-19 14:29] mattgodbolt commented on #309
@richtw1 suggests - quite rightly - this is probably a texture reuse thing where jsbeeb is relying on content being the same (or blank?) but really we're in "don't do that" territory. Different drivers might do different things. ie this is definitely a jsbeeb bug!

[2021-03-12 16:57] lurkio opened #317 "ROMs can't write to their own SWRAM bank?"
The MRM-E00 DFS uses its own SWRAM bank as workspace and leaves PAGE at &E00 in a standard Model B.

But in JSBeeb PAGE is set at &1700, presumably because the MRM-E00 DFS ROM isn't able to write to its own SWRAM bank for some reason and has to claim workspace from User RAM..?:

https://bbc.godbolt.org/?autoboot&disc=https://dl.dropboxusercontent.com/s/gfdgvtj0qmi7ifr/E00test.ssd

[2021-03-12 19:45] mattgodbolt commented on #317
Hi... jsbeeb doesn't do anything special or clever. I don't know what MRM does, or why it doesn't interact with jsbeeb in the same way as a real beeb.  What is MRM?

Which SWRAM bank? jsbeeb makes up a sort of nasty hack for sideways ram to make Exile run in enhanced mode, but I don't know if there's something I'm not doing right.

[2021-03-12 19:51] lurkio commented on #317
I think MRM is just the name of the company that released the DFS back in the day.

Whichever SWRAM bank the MRM-E00 DFS happens to be loaded into.

It all works in BeebEm, once you've made the SWRAM bank writable via one of the menus in BeebEm.

[2021-03-12 19:58] mattgodbolt commented on #317
So - this is a ROM that expects to be in RAM? A DFS that needs to be in SWRAM and then uses RAM in its bank instead of bumping `PAGE` ?

All jsbeeb's swram banks are RAM and are writeable (else you wouldn't be able to load into it.

What's the output of your test disc on BeebEm?

[2021-03-12 19:59] mattgodbolt commented on #317
![Screenshot from 2021-03-12 13-58-52](https://user-images.githubusercontent.com/633973/110992112-185d2a00-833b-11eb-9506-a8b1144b535c.png)
jsbeeb output ^

[2021-03-12 20:00] lurkio commented on #317
You need to go to the Hardware menu in BeebEm and make the SWRAM slot writable.

[2021-03-12 20:01] mattgodbolt commented on #317
I don't have BeebEm; can you please post what you're seeing in BeebEm?

[2021-03-12 20:02] mattgodbolt commented on #317
mainly I want to see if it loads into ROM 01 and ROM 00 as it does on jsbeeb

[2021-03-12 20:04] lurkio commented on #317
<img width="640" alt="Screenshot 2021-03-12 at 20 03 46" src="https://user-images.githubusercontent.com/26767174/110992656-1cef0600-836e-11eb-9801-f3f6816476c2.png">

[2021-03-12 20:05] mattgodbolt commented on #317
Got it; thanks. I'm stumped I'm afraid! I don't know what I might not be emulating to cause it to use PAGE memory.

You have a different DFS in ROM 14 too, so I wonder if there's an interaction on jsbeeb of it having two DFS 0.90s?

[2021-03-12 20:09] lurkio commented on #317
That could be it!

<img width="640" alt="Screenshot 2021-03-12 at 20 08 49" src="https://user-images.githubusercontent.com/26767174/110993144-d057fa80-836e-11eb-8ed0-33a0e98dd690.png">

[2021-03-12 20:10] lurkio commented on #317
Yep! Thanks!:

https://bbc.godbolt.org/?autoboot&disc=https://dl.dropboxusercontent.com/s/gfdgvtj0qmi7ifr/E00test.ssd&model=b-dfs1.2

[2021-03-12 20:10] #317 closed

[2021-03-12 20:29] mattgodbolt commented on #317
Fantastic! Glad you worked it out: I must admit to being somewhat clueless in anything other than lowish level hardware stuff, and playing Exile :grinning:

[2021-03-12 20:37] Pernod70 commented on #317
To add some info on the MRM 0E00 DFS, it's an 8K ROM that came on a carrier board with 2K RAM. The RAM was mapped into the upper 8K of the 16K bank. So the lower 8K is ROM, and the upper 8K is RAM (not fully decoded so is mirrored). It should work in sideways RAM but that is not how it was intended to be used.

[2021-04-04 18:49] sitsofe commented on #122
(@sassquad While trying to search for "Fast access enjoy the silence" I came across your comment. Thanks to you I've been able to track down Daniel Pugh's arrangement of Enjoy the Silence (e.g. see [Fast Access Volume 1](http://8bs.com/catalogue.htm#Fast%20Access%20Magazine%20Volume%201) Disk 6 or [Pernod's Music Collection "Music Disc Vol.3"](https://stardot.org.uk/forums/viewtopic.php?p=48398#p4

[2021-05-21 18:51] Spongman commented on #127
maybe helpful: https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API allows you to turn off the host cursor, and yields relative mouse movement.

[2021-05-27 06:11] oneswitch commented on #127
Thanks, Matt. I'll take a look into this. Hoping to get buried into the BBC
Micro educational bit early next year. Did a bit on MAVIS this year which
just slightly predates the BBC Micro:
https://www.oneswitch.org.uk/art.php?id=318

Best wishes,

Barrie

On Fri, 21 May 2021 at 19:51, Spongman ***@***.***> wrote:

[2021-06-06 17:49] mattgodbolt opened #321 "Use keyboard API to detect the layout"
See https://developer.mozilla.org/en-US/docs/Web/API/Navigator/keyboard

can improve https://github.com/mattgodbolt/jsbeeb/blob/c0735c265f4a8b7f9361769d707eabcece4a2503/utils.js#L379-L391 with this

[2021-07-05 03:41] qurm opened #325 "Debugger view hard to read in Chrome & Edge Windows 10"
Hi - I find that the debugger view is really hard to read, using current Chrome & Edge browsers  (Edge Version 91.0.864.64 (Official build) (64-bit)) in Windows 10.  I tested on a couple of Windows PCs with different browsers, so I don't think this is a local problem.  The cause is black text on grey in the disassembly and a black on dark red in the register list.  I can see there was a "change to

[2021-07-05 22:26] mattgodbolt commented on #325
Thanks! I don't know why those are so dark; I did try and fix some things but didn't spot them being _that_ dark! PRs always welcome, it should be a quick CSS fix.

[2021-07-07 18:39] mattgodbolt opened #326 "Support "proper" address translation"
https://github.com/mattgodbolt/jsbeeb/blob/a2cf2763a266a3b19b0d43d97231b569fa18527b/video.js#L245-L264

c.f. http://beebwiki.mdfs.net/Address_translation

[2021-09-18 03:03] perryn opened #329 "Pasting code freezes emulator for several minutes"
Thanks so much for this emulator. My 8yo son and I have been having SO much fun this morning re-living the coding experience of my youth at https://bbc.godbolt.org/!

We have been typing in code from a magazine, but at one point we refreshed the tab and lost our work. So I decided to keep the code in a text file and cut and paste it into the emulator via the text box on the top right.

However we

[2021-09-19 22:48] mattgodbolt commented on #329
Hi!

I'm so excited that you're sharing your experiences with your son! Mine have only shown a passing interest :)

The paste box is a bit of a hack and I'm not _too_ surprised it hangs for a while (minutes...though...is not ideal). I'll definitely look in to this at some point.

However! There may be a better solution. There's a sibling project to jsbeeb called Owlet and you can try it out at : h

[2021-10-08 05:54] ojwb commented on #329
It didn't originally, but has since January - just click on owlet's emulator pane to give it focus.

[2021-11-01 23:46] sassquad opened #331 "Potential issue concerning use of HIMEM?"
Came across this issue, when playing my game Androidz Redux.

When the game is over, the verdict program is supposed to load. However, what instead happens is this:

<img width="349" alt="Screenshot 2021-11-01 at 23 39 27" src="https://user-images.githubusercontent.com/2427885/139756241-b95d6fc1-3d9e-4c9b-a5b4-1985a6f616b5.png">

Clearly, the program attempts to load part 3, but it freezes.

The l

[2021-12-13 00:18] mattgodbolt opened #332 "TODOs post move to webpack"
* [x] increase the linting and const-let-ify the world!
* [ ]  start extracting chunks and make jsbeeb more of a library
* [ ] main.js needs to be broken up
* [ ]  post-build main.js and main.css are giant!
* [ ] ~fix electron?~

[2021-12-13 15:44] fordp2002 opened #333 "BEm"
Your b-em link in the readme is a bit out of date please include this link instead or as well as:
https://github.com/stardot/b-em

[2021-12-13 16:25] #333 closed

[2021-12-13 19:36] fordp2002 commented on #333
Thanks Matt!

[2021-12-20 08:02] NegativeCharge opened #334 "Issue with SN76489 emulation?"
Track 5 (Cybernoid) on the following disc has high pitched audio artefacts around 2 to 4 seconds in (Tested on Windows 11/Microsoft Edge 96).  I don’t have physical hardware to test this on, but these artefacts are not present when using b-em.  Not sure if this is a bug in the SN76489 emulation, or I have a bug in my converter.

https://bbc.godbolt.org/?autoboot&disc1=https://negativecharge.github

[2021-12-20 15:08] NegativeCharge commented on #334
The interesting thing here is that the artefacts only occur at the start of the tune.  This section repeats at around 47s and here there’s no artefacts to be heard.  I’ll see if I can created a minimal example of where this occurs.

I don’t think it relates to the handling of zero in this case as I have plenty of other conversions that play fine.  I’ve also noticed the same issue with conversion o

[2021-12-20 15:30] mattgodbolt commented on #334
Oh that _is_ interesting! I wonder what can be going on. The code's so simple (in theory...) but we've found a number of interesting cases :)

[2021-12-21 00:01] scarybeasts commented on #334
The sound write routine is somewhat unusual:

[ITRP] 1172: LDX #$FF
[ITRP] 1174: STX $FE43
[ITRP] 1177: STA $FE4F
[ITRP] 117A: INX
[ITRP] 117B: STX $FE40
[ITRP] 117E: LDA $FE40
[ITRP] 1181: ORA #$08
[ITRP] 1183: STA $FE40
[ITRP] 1186: RTS

It looks like 14 cycles between turning the sound chip write gate on and off, which is on the limit jsbeeb will accept.
The read from $FE40 is also unusual. The

[2021-12-21 01:46] mattgodbolt commented on #334
Nice find @scarybeasts . I remember tweaking that when trying to get Repton 2's Speech thing working. From the datasheet it says the chip won't accept data that quickly...so...I guess I tried to simulate that. Of course what a _real_ chip does "depends".

[2021-12-21 07:41] scarybeasts commented on #334
@mattgodbolt I'm current more suspicious of the LDA &FE40 than the timing. I think the timing _should_ work because it is 14 cycles, which is equal to the minimum jsbeeb claims to accept.

[2021-12-21 08:33] kieranhj commented on #334
This is the same SN register write code by @simondotm from the VGC player lib used in all of our recent demos!

See sn_write fn here:
https://github.com/simondotm/vgm-player-bbc/blob/master/lib/vgcplayer.asm

[2021-12-21 11:38] NegativeCharge commented on #334
Kieran beat me to it :-) …but yes, I would expect JSBeeb to have issues with several demos if that was the case.  I did try replacing the sn_write with the nop code but the issue still occurs.

I’m beginning to suspect this write, but need to run some tests:

0x000009B2: 63          Wait:	882 samples (1/50 s)	(total	87318 (00:01.98))
0x000009B3: 50 88       SN76496:	Latch/Data: Tone Ch 0 -> 0x008

[2021-12-21 20:50] mattgodbolt commented on #334
What do we think is the "right" thing to do? Is jsbeeb's emulation of the read busted?

[2021-12-21 21:14] NegativeCharge commented on #334
I’ve traced the first set of artefacts to the following 4 commands.  It appears a tone value of 4 on Channel 2 played as periodic noise on Channel 3 causes the issue.

If I mute Channel 3 (0xf) instead of 0x3 and 0x5, the artefacts go.  So, it would appear the sound emulation doesn’t like a value this low.

I’m not sure what the behaviour of real hardware is, and which emulator is performing corre

[2021-12-21 22:53] mattgodbolt commented on #334
I don't think that's quite what's happening here. For reasons I don't understand the sound player both writes _and reads_ from the sound hardware - https://github.com/simondotm/vgm-player-bbc/blob/ff8281069f571c4669972aa693a0e2818b90b0d2/lib/vgcplayer.asm#L139-L141 -- and I'm not sure why (and why jsbeeb isn't giving the right answer here)

[2021-12-22 01:44] mattgodbolt commented on #334
So at @scarybeasts cunning idea I:
* hacked a local build to reduce the min write to 8 cycles - no luck
* also poked out the read from FE40:

[code]
http://localhost:8080/?autoboot&disc1=https://negativecharge.github.io/files/beebcpctunes-03.ssd&patch=@117a,117e:eaa900 is how I poked it out...

still squeaks! Argh :)

[2021-12-22 01:49] mattgodbolt commented on #334
On a whim I turned off the noise channel and the squeak stopped happning....investingating.

[2021-12-22 01:54] mattgodbolt commented on #334
Chatting offline with @scarybeasts and we suspect something funky in the way jsbeeb does its very high frequency noise. Still working on it though.

[2021-12-22 01:55] mattgodbolt commented on #334
right (I missed this in the back and forth)

[2021-12-22 02:29] scarybeasts commented on #334
@NegativeCharge could you highlight where in that trace above that the period of channel 2 gets set to 4? I see this:

0x00000573: 50 C7 SN76496: Latch/Data: Tone Ch 2 -> 0x007
0x00000575: 50 04 SN76496: Data: 04

But that would appear to set the period of channel 2 (mirrored on channel 3) to 0x47 ?

Further down, there's the sequence:

0x0000057B: 50 F5 SN76496: Latch/Data: Volume Ch 3 -> 0x5 = 3

[2021-12-22 06:06] NegativeCharge commented on #334
Sorry, yes 47, not 4.  Here’s an easier to read trace.  This runs at 50hz so there are 0.2s between writes:

CH0,VOL0,CH1,VOL1,CH2,VOL2,CH3,VOL3
0x001A8,0x2,0x00001,0xF,0x00001,0xF,0x10003,0xF
0x001A8,0xF,0x00001,0xF,0x00047,0xF,0x10003,0x3
0x001A8,0x4,0x00001,0xF,0x00001,0xF,0x10003,0xF
0x001A8,0xF,0x00001,0xF,0x00047,0xF,0x10003,0x5
0x001A8,0x6,0x00001,0xF,0x00001,0xF,0x10003,0xF
0x001A8,0xF,0x0

[2021-12-22 14:11] mattgodbolt commented on #334
by manually puppetteering the soundchip from the JS debugger I found that going from the first row to the second row produces the squeak! (I added a "pokey" debug feature to let me put in values externally) :

[code]

Interestingly - and a big clue - the squeak stops after a short time and goes back to the mid-ish periodic noise we would expect.

I have something concrete to dig in to now!

[2021-12-22 14:19] mattgodbolt commented on #334
Right! Progress: I've found that the counters I use to check for transitions can go _very_ negative when they're set to super high frequencies....then toggling back to not-so-high and it takes a while for the counter to pop back up positive!

[2021-12-22 14:19] mattgodbolt commented on #334
(and while negative they will toggle the channel at maximum frequency)

[2021-12-22 14:37] mattgodbolt commented on #334
@NegativeCharge Thanks for your patience and awesome work (and of course @scarybeasts too) -- https://bbc.godbolt.org/?disc1=https://negativecharge.github.io/files/beebcpctunes-03.ssd&autoboot sounds "ok" to me now, what do you think?

I'm going to work on a better solution.

[2021-12-22 15:19] NegativeCharge commented on #334
Thanks @mattgodbolt and @scarybeasts! Yes, that’s fixed it.  Thanks for your perseverance on this one - I couldn’t be sure if it was a problem with the emulation or my converter producing an out of range set of writes for the SN.  Glad you found the issue.  Most appreciated!

[2021-12-23 06:31] NegativeCharge commented on #334
@mattgodbolt - I hate to be the bearer of bad news, but with the above fix applied I’m eventually hearing the noise channel stop playing completely.  This is apparent around 1 minute in when there is a lot of activity on the noise channel but no drums / low frequency noise is being played by jsbeeb.

[2021-12-23 06:53] NegativeCharge commented on #334
@mattgodbolt - FYI, changing the patch to use Math.min rather than %= seems to solve the issue for me.  However, it’s been years since I’ve written any Javascript so don’t know if that’s the correct approach:

e.g.

if (counter[channel] < 0)
                     counter[channel] = Math.min(add,0);

[2021-12-23 14:37] mattgodbolt commented on #334
Thanks @NegativeCharge - I'll investigate. I avoided the Min to keep "some" fidelity, but...this is probably safest.

[2021-12-23 14:38] mattgodbolt commented on #334
(in this case it can just be `counter[channel] = 0;` )

[2021-12-23 14:40] mattgodbolt commented on #334
That said: I can't (currently!) think why the % wouldn't work. I'll definitely update to be = 0 for now (I have another branch where I get rid of this hack entierly)

[2021-12-23 14:41] #334 closed

[2021-12-23 17:18] NegativeCharge commented on #334
Thanks Matt!  Yes, that seems to have fixed it.  Most appreciated.

[2022-02-21 16:06] mfraser opened #339 "Debug screen on by default"
As soon as I load my local copy of jsbeeb, the debugger is loaded and there doesn't seem to be any way of getting rid of it. I can step through with "g", but as soon as I press "break" it appears again.

[2022-02-21 17:49] mattgodbolt commented on #339
Can you check the Javascript debugger output? The jsbeeb debugger also pops up if there'a an uncaught JavaScript exception: I wonder if some error is being thrown.

[2022-02-21 22:06] mfraser commented on #339
Uncaught TypeError: navigator.getGamepads is not a function
    getGamepads http://192.168.2.109/jsbeeb/main.js:578
    getGamepads http://192.168.2.109/jsbeeb/via.js:575
    getJoysticks http://192.168.2.109/jsbeeb/via.js:583
    read http://192.168.2.109/jsbeeb/via.js:273
    readDevice http://192.168.2.109/jsbeeb/6502.js:643
    readmem http://192.168.2.109/jsbeeb/6502.js:701
    anonymous http

[2022-02-22 13:36] mattgodbolt commented on #339
It seems the fix for this issue was put in place a while back -- the lines numbers your error reports don't match. Can you check you have the latest code?

[code]

should be the code it's trying to run, which checks carefully if the `gamepads` is available before trying to use them.

[2022-02-22 14:22] mfraser commented on #339
Yes, it is up-to-date as I cloned it from github just now.
Oddly a version I downloaded in November last year works.

[2022-02-22 19:35] mattgodbolt commented on #339
I wonder: we changed the default branch a ways back -- try `git checkout main`

[2022-02-22 23:59] mattgodbolt commented on #339
(I switched the default branch name to `main` to fit the default GH now has and to serve my poor old muscle memory better)

[2022-03-06 16:18] BigEd opened #340 "Beeb screen too small in Turbo model"
I'm seeing the cubmonitor and bbc screen at size of approx 224px wide, regardless of window and zoom setting, for the Turbo model but not for the B or Master models.

Looks like 3 elements have specified height and width: cub-monitor, cub-monitor-pic, and screen.

[2022-05-02 17:49] codeaholics opened #345 "Debug: Clicking the gutter doesn't set a breakpoint (PR incoming)"

[2022-05-02 19:48] #345 closed

[2022-05-03 22:23] codeaholics opened #347 "Models not listed in UI"
Is there a reason why the UI only lists BBC B, Master 128 and Master Turbo, when there are more models defined? Happy to send a PR with more models in, or even to see if we can dynamically make the list from the defined models.

[2022-05-04 16:49] mattgodbolt commented on #347
thanks for the fix for this! should autodeploy shortly

[2022-05-05 08:45] dy-tray opened #349 "Config UI: updates state at before confirmation"
When interacting with the model dropdown in the config UI, the following unexpected behaviours can be observed:

- Changing the model dropdown causes the menubar to change state, even though no actual model change has happened yet
- Clicking `Close` causes the URL to also update, even if the user then declines the confirmation dialog

This leaves the UI in a state where neither the menubar nor the

[2022-05-05 08:53] #349 closed

[2022-05-05 08:53] dy-tray commented on #349
Please delete me!

[2022-05-05 09:43] codeaholics opened #351 "Config UI: updates state before confirmation"
When interacting with the model dropdown in the config UI, the following unexpected behaviours can be observed:

- Changing the model dropdown causes the menubar to change state, even though no actual model change has happened yet
- Clicking `Close` causes the URL to also update, even if the user then declines the confirmation dialog

This leaves the UI in a state where neither the menubar nor the

[2022-05-06 20:57] #351 closed

[2022-05-11 13:23] ntoll opened #353 "Please consider publishing / creating a guide to embed JSBeeb emulators in websites"
Hi,

As a British child of the 1980s, I learned to code on a BBC B, and I wouldn't have become a professional programmer without those first experiences.

Context: I've found my old disks full of software created by my 11yo self. I'm visiting [TNMOC](https://www.tnmoc.org/) on Saturday to work with their Acorn team to extract the contents of those disks. I'd like to blog about what I find, and if

[2022-05-11 18:52] ribbons commented on #353
I'd also be interested in something along these lines for https://8bs.nerdoftheherd.com/ - I'm currently embedding an `<iframe>` to jsbeeb which works okay-ish but is a bit fragile.  I'd love to be able to reference a script file and then create a jsbeeb instance programmatically but I've held off from suggesting it previously as I didn't really have the time to dedicate to it :smile:.

[2022-05-11 20:36] mattgodbolt commented on #353
Thanks for the suggestion! I recently changed how jsbeeb "builds" (like, it now actually does build!) and so this is a great time to ensure it plays well for embedding! I'll put this nearer the top of my todo list :)

[2022-05-11 21:26] ntoll commented on #353
Thank you for taking a look at this. If you need testers, please don't hesitate to reach out.

[2022-05-18 15:50] ntoll commented on #353
More context... here's an example of the sort of thing I want to be able to embed (enjoy!):

https://bbc.godbolt.org/?&disc1=https://ntoll.org/static/bbcdiscs/music.ssd

(My 13-14yo self naively coded up "the Swan" and "Road goes Ever On") :slightly_smiling_face:

I've plenty of disc images like this, and I'd love to blog about my findings and embed JSBEEB.

[2022-05-21 20:01] mattgodbolt commented on #353
If putting an `iframe` in your site is feasible, then an easy(ish) way is to "just" `iframe` it in!

[code]

(or something like that; you can style the iframe with CSS).

Making it "simple" to mix and match HTML components is trickier as it would mean me hardcoding and treating certain HTML elements as being fixed. And there's a _lot_ (check out how big the HTML document is! Lots of widgets etc).

[2022-06-08 22:07] mattgodbolt commented on #340
We're _hoping_ it's fixed now @BigEd - going to cross our fingers and close this; and then please reopen if you see it again on the main bbc.godbolt.org site!

[2022-06-08 22:07] #340 closed

[2022-06-08 22:09] mattgodbolt commented on #339
What URL are you hitting specifically to see this? If it's not `localhost` then maybe it's a new security feature in some browsers that hides some of the new features if not served either on https OR localhost. And also, did you ensure you're on `main`? Gonna close in the hope that either of these things fixes it but let me know if you still have issues!

[2022-06-08 22:09] #339 closed

[2022-06-08 22:10] mattgodbolt commented on #353
@ntoll did you try looking at the iframe "solution" - it's the one most likely to stay working.

[2022-06-08 22:11] mattgodbolt commented on #297
Super odd! Is this still happening? I'm going to close as "hopefully fixed by a random update/browser fix" but if not please reopen!

[2022-06-09 06:56] ntoll commented on #353
@mattgodbolt hi, yes, sorry. I meant to say, but have been busy writing up the blog post.

The `iframe` based solution you suggest works perfectly. My only suggestion being that it's included in the docs somewhere obvious so others understand the "blessed" solution for this.

I'll ping over the blog post when it's finished. I'm just waiting on some commentary from one of the authors of the softwar

[2022-07-03 11:14] ribbons commented on #353
@ntoll - just a heads up that Matt kindly merged a PR of mine yesterday which means if you add the parameter 'embed' to the jsbeeb url in an iframe it now makes the BBC screen as large as possible within it and makes the page background transparent (so the background of the parent page is used instead).  Just in-case you find either of those useful :+1:

[2022-07-03 19:45] rog77 commented on #300
Thanks :-)

[2022-07-03 19:45] #300 closed

[2022-07-04 08:58] ntoll commented on #353
@ribbons / @mattgodbolt this is great... I'm still working on my BBC micro related blog post ("real work" :tm: in the shape of a new job has been taking up rather a lot of my time, but I hope to get to it very soon - over my summer holidays). I'll link to it when it's done.

Thank you so much for the heads up..! :+1:

[2022-07-12 13:11] regregex commented on #331
Confirmed but only under DFS 0.9. Works for me with DFS 1.2 installed.

[2022-07-12 15:47] regregex commented on #331
Hangup reproduced on a model B with DFS 0.9.  True to hardware, unfortunately.

[2022-08-20 18:17] CommanderCoder opened #370 "Parity in tapes is ignored."
Comparing the byte in the `UInt8Array` with the string won't work here:
https://github.com/mattgodbolt/jsbeeb/blob/09ebe87b17d2532146e40d77e37f498611e906d2/tapes.js#L105

I couldn't find a BBC tape that falls foul of this error but when I was trying out files for the Acorn Atom I could only get this to work by converting to a string character first using `fromCharCode`.
https://github.com/Commande

[2022-08-21 21:53] mattgodbolt commented on #370
Oh yikes, nice spot!

[2022-08-21 21:58] #370 closed

[2022-08-23 20:41] dp111 opened #371 "Some instructions fail my timing test suite"
I've created a 6502/ 65C12 instruction timing test suite [https://github.com/dp111/6502Timing](https://github.com/dp111/6502Timing) thread discussing the test suite on [stardot](https://stardot.org.uk/forums/viewtopic.php?f=55&t=25298). Main errors appear to be  in Master emulator with clock stretching ( 65C12timing1M.ssd). I did have a quick look at doing a pull request , but your code is too cle

[2022-08-27 09:00] dp111 commented on #371
6502timing1M.ssd on a bbc B with jsbeeb gives the following instruction timing errors which all look like page cross errors during 1MHz clock stretching

![image](https://user-images.githubusercontent.com/19616418/187023206-010fd9af-6f2c-4a08-a8bd-d42170916746.png)

[2022-08-27 09:03] dp111 commented on #371
On a jsbeeb master with 65C12timing1M.ssd again all the errors look like they are to do with page crossing and 1MHz clock stretching

![image](https://user-images.githubusercontent.com/19616418/187023327-a4c322d3-713d-486a-95a7-396c3c9d128f.png)
![image](https://user-images.githubusercontent.com/19616418/187023341-dccd715c-5e3b-4087-8bf6-997055431e21.png)

[2022-08-28 19:05] mattgodbolt commented on #371
oh amazing! I can make a test suite out of this (with your permission, if I can embed your SSD in the repository).

The code is a bit too clever for its own good, it tries to "compile" instructions. I bet it'll be a fairly easy fix once I remember how that stuff works too :D

[2022-08-28 19:05] mattgodbolt commented on #371
Wow, I'm shocked there's any regular 6502 timing issues left though! wowser :)  I figured all the Kevin Edwards protection system stuff would have flushed them out. Awesome!

[2022-08-28 19:46] mattgodbolt commented on #371
Actually can probably submodule this in so that everything Just Works Nicely™

[2022-08-29 20:14] dp111 commented on #371
version 0.22 at the end of the tests stores the number of failures at &FCD0
so emulators can trap this to detect pass or fail.

On Sun, 28 Aug 2022 at 20:46, Matt Godbolt ***@***.***> wrote:

[2022-08-30 20:19] mattgodbolt commented on #371
Actually in terms of convenience (not having to get a portable version of beebasm etc etc), would it be OK to build and ship disc images of your timing tests alongside jsbeeb?

[2022-08-30 20:23] dp111 commented on #371
No problem.

On Tue, 30 Aug 2022 at 21:19, Matt Godbolt ***@***.***> wrote:

[2022-08-30 20:30] mattgodbolt commented on #371
D'oh I should have checked...you already have the ssds in your repo. I'm sorry...nothing to see here please move along

[2022-08-31 03:48] #371 closed

[2022-09-01 22:32] mattgodbolt commented on #283
Well, this is kinda de facto done now given how many `const`s in the code already

[2022-09-01 22:32] #283 closed

[2022-09-02 12:48] mattgodbolt opened #374 "Fix RMW timings in 65c12"
Per the legendary @scarybeasts's test case: [6502 vs. 65c12 read-modify-write instructions: test case](https://stardot.org.uk/forums/viewtopic.php?f=4&t=23131&sid=c1832d07b835ca9ac4eb62988f386bcb)

[2022-09-02 20:37] #374 closed

[2022-09-06 13:33] mattgodbolt opened #376 "after hard reset/fiddling with keys, then shift-break"
Uncaught TypeError: Cannot read properties of undefined (reading 'notFoundTask')
    at e.read.e.write.e.address.e.format (fdc.js:27:22)
    at Zc.callback (fdc.js:587:48)
    at Ic.onExpire (fdc.js:242:18)
    at Pc.polltime (scheduler.js:67:14)
    at Gc.polltimeFast (6502.js:1047:24)
    at Uc.t.branch (6502.js:156:17)
    at r.eval (eval at <anonymous> (6502.opcodes.js:1162:29), <anonymous>:6:

[2022-10-19 23:23] mattgodbolt opened #377 "gdrive support is broken"
[code]

[2022-10-20 00:29] stuaxo commented on #377
Confirmed on https://bbcmicro.co.uk/jsbeeb/

I can see there is a part of the message about redirects failing, has jsbeeb moved since this was created ?

![image](https://user-images.githubusercontent.com/179677/196829113-bbfec020-d625-4418-9cf2-c589ebeb8b3a.png)

[2022-10-20 23:39] freesurfer-rge commented on #310
Just to note that this is still happening on the latest Firefox (106.0.1) on macOS Monterey (12.6)

[2022-10-21 13:24] mattgodbolt commented on #377
jsbeeb has always been at https://bbc.godbolt.org/ but it is open source, so folks can host it anywhere, as do the wonderful people at bbcmicro.co.uk

I'll add their address to the list of "ok" places in my gdrive code!

[2022-10-21 13:26] mattgodbolt commented on #377
...if I can find out where to do that in google's console...

[2022-10-21 14:27] mattgodbolt commented on #377
Found it I think!

[2022-10-21 14:28] mattgodbolt commented on #377
Says it'll take 5m to an hour to take effect. Will check back

[2022-10-21 14:29] mattgodbolt commented on #377
Oh! It's working for me now already! yay. Let me know how it goes: closing this for now.

[2022-10-21 14:29] #377 closed

[2022-10-23 00:35] mattgodbolt commented on #310
Thanks for the updates. Unfortunately I have no way to test this and no expertise with Macs at all. Do you know anyone who might know anything?

[2022-10-23 21:07] freesurfer-rge commented on #310
Unfortunately, I'm not a JS expert :-/ If there's something useful I can look at in the Dev Tools, I'd be happy to do so, but I do not have experience chasing these things down.

I've just experimented with Firefox (105.0) on Ubuntu and COPY works fine there (as the 'End' key).

[2022-11-11 18:07] mattgodbolt opened #378 "*fx200,3 not working"
To repro:
1. ?&3000=12
2. *fx200,3
3. call!-4
4. P.?&3000

should be cleared but isn't! Super odd

[2022-11-11 18:09] mattgodbolt opened #379 "support ADFS on the bbc master"

[2022-11-11 18:11] mattgodbolt opened #380 "Support "save" to tape"
at least let it get to the point of making noises and tape stuff. not sure what's needed to get this working

[2022-11-11 22:28] tom-seddon commented on #378
Could it be the clear routine skipping the first byte of every page? - https://tobylobster.github.io/mos/mos/S-s10.html#SP4

[2022-11-11 23:06] mattgodbolt commented on #378
zomg you might be right there! One thing the reporter (over email) said was the "32K" didn't pop up, which I've noticed too. so I wonder if there's something else going on too

[2022-11-12 12:16] tom-seddon commented on #378
I'm 99% sure you have to take extra measures to get the 32K to appear when doing `CALL!-4`, which is otherwise equivalent to just pressing BREAK on its own.

[2022-11-12 14:17] mattgodbolt commented on #378
:+1: thanks Tom

[2022-11-12 14:22] #378 closed

[2022-11-13 12:53] dy-tray commented on #378
Yeah, the System VIA is implicated here, IIRC. It sets some state when it's powered up which the MOS checks and later clears, which is how it knows whether it's a cold (power-on) reset.

[2022-11-13 12:54] codeaholics commented on #378
Yeah, the System VIA is implicated here, IIRC. It sets some state when it's powered up which the MOS checks and later clears, which is how it knows whether it's a cold (power-on) reset.

[2022-11-22 15:06] mattgodbolt commented on #379
Probably something in the CMOS to enable the ROM

[2022-11-22 15:09] mattgodbolt commented on #379
Also check ADF/ADL images (per email dated Sun, Nov 20, 5:40 PM with privately distributed ADL image)